$color-secondary: rgb(51, 51, 51);
$color-secondary-ligth: rgb(102, 102, 102);


.contenedor {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

.pt-1 {
    padding-top: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}