.nav {
    &__welcome {
        background-color: #f4f4f4;
        // padding-top: 1rem;
        // padding-bottom: 1rem;
        &__contenedor {
            font-size: 1.4rem;
            display: flex;
            justify-content: space-between;
            &--msj {
                color: $color-secondary;
            }
            &__access {
                &--account {
                    color: $color-secondary;
                    i {
                        margin-right: 0.5rem;
                    }
                }
                select {
                    border: none;
                    outline: 0;
                    cursor: pointer;
                    background-color: #f4f4f4;
                    color: $color-secondary-ligth;
                    margin-left: 1rem;
                }
            }
        }
    }
}
